<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>seeReminders</title>
    <link rel="stylesheet" href="userpagestyle.css">
</head>
<body>
    <div class="nav-container">
        <div class="wrapper">
            <nav>
                <div class="logo">
                    <h1>RemindMe</h1>
                </div>

                <ul class="nav-items">
                    <form action="/userpage/logout" method="put" id="log_out">
                    <li>
                        <a href="">
                        <button class="log-out" id="log">
                        logout
                        </button>
                        </a>
                    </li>
                    </form>
                </ul>
            </nav>
        </div>
    </div>
    <hr>

    <main>
        <div class="user-main">
            <div class="user-container">
                <div class="reminders" id="reminders-logo">
                    <p>User's Reminders</p>
                </div>
                <div class="reminders" id="reminders-id">
                    <% current_reminder.forEach(element => { %>
                        <p>Reminder <%= element.id %></p>
                        <p><%= element.date %></p>
                        <p><%= element.time %></p>   
                        <p class="content"><%= element.content %></p>   
                </div>
                <form action="/seeReminders/edit>">
                <button method="get"type="edit" class="change" id="edit">Edit reminder</button>
                </form>
                <form action="/seeReminders/delete/<%= element.id %>">
                <button type="delete" class="change" id="remove">Remove reminder</button>
                </form>
                    <% }) %> 
            </div>
        </div>
    </main>

    <script src="main.js" type="script/javascript"></script>
</body>
</html>